:root {
  --green-primary: #22C55E;
  --green-dark: #16A34A;
  --green-light: #86EFAC;
  --green-bg: #DCFCE7;

  --text-primary: #111827;
  --text-secondary: #4B5563;

  --border: #E5E7EB;
  --background: #F9FAFB;

  --accent-yellow: #FACC15;
  --accent-blue: #38BDF8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
}